<!doctype html>
html
  head
    title Sample React App

    each source in scripts
      script(src=source, defer)

    script.
      //window.source = !{scripts}
      window._state = !{state}
      console.log(scripts)

  body !{content}
    //- div(id='app')
