<!doctype html>
html
  head
    title Sample React App

    each source in scripts
      script(src='./js/' + source, type='text/javascript')

    script.
      window._state = !{state}
  body !{content}
    //- div(id='app')
